.Navbar__container{
    margin-bottom: 6%;
    padding: 0;
}
.Navbar__menu{
    margin-left: 30%;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}
.Navbar__item{
    margin-right: 60px;
    color: grey;
    font-weight: 600;
}
.Navbar__item:hover{
    color: #000;
}
.Navbar__btn{
    color: #000;
    font-weight: 600;
}